# ===================================
# CONFIGURAÇÃO PADRÃO (COMUM A TODOS)
# ===================================
server:
  error:
    include-message: always
    include-binding-errors: always

# Define 'local' como o perfil padrão se nenhum for ativado
spring:
  profiles:
    default: local
  
  mvc:
    hiddenmethod:
      filter:
        enabled: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true
    show-sql: true


  ai:
    openai:
      api-key:
      model: gpt-3.5-turbo




api:
  security:
    token:
      secret: super-secret-key-para-meu-ecommerce-pessoal-ninguem-pode-saber

---
# ===================================
# PERFIL LOCAL (para rodar na sua máquina)
# ===================================
spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:oracle:thin:@oracle.fiap.com.br:1521:ORCL
    username: RM557569
    password: 110602

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

---
# ===================================
# PERFIL PRODUÇÃO (para o DEPLOY)
# ===================================

spring:
  config:
    activate:
      on-profile: prod


  datasource:
    url: ${DB_URL_PROD}
    username: ${DB_USER_PROD}
    password: ${DB_PASSWORD_PROD}


  rabbitmq:
    url: ${CLOUDAMQP_URL}