erver:
  error:
    include-message: always
    include-binding-errors: always

spring:
  datasource:
    url: jdbc:oracle:thin:@oracle.fiap.com.br:1521:ORCL
    username: RM557569
    password: 110602

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true
    show-sql: true

  ai:
    openai:
      api-key:
      model: gpt-3.5-turbo

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

api:
  security:
    token:
      secret: super-secret-key-para-meu-ecommerce-pessoal-ninguem-pode-saber

